@charset "ISO-8859-1";
body {
    background: #F3EBF6 url("/resources/images/login.jpg") no-repeat;
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    color: rgb(8, 7, 6);
    background-color: #706c75;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.82;
}

.main {
    background-color: #e0dce4;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    opacity: 0.9;
}

.sign {
    padding-top: 40px;
    color: #2607ad;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}
a.submit:hover{
    background-color: #4c00ff;
    color: rgb(2, 2, 7);
}
.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: blue;
    border: 0;
    padding: 10px 40px 10px 40px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    
}

a:hover{
    color: rgb(5, 3, 3);
}
.forgot {
    color: #c1b1c4;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #7b737c;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}