<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Upload Test Reports</title>
</head>
<body>
	<div>
		<h3>List of Documents uploaded</h3>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Download Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="doc:${docs}">
					<td th:text="${doc.id}" />
					<td th:text="${doc.docName}" />
					<td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>


				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>